<footer class="footer">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-7">
          <img src="https://www.utleon.edu.mx/resource/iconos/footer-logo_2022.jpg" class="img-fluid" alt="Logo">
        </div>
      </div>
      <div class="row" style="height: 5px; background-color:#009379"></div>
      <div class="row" style="background-color:#000c34">
        <div class="col-md-12 text-center text-white caption">
          Blvd. Universidad Tecnológica #225 Col. San Carlos<br>
          CP. 37670 León, Gto. Mex. l Tel (477) 7 10 00 20<br>
          <br>
          <a href="https://www.utleon.edu.mx/resource/documentos/AVISO%20PRIVACIDAD%20SIMPLIFICADO-23.pdf" target="_blank">Aviso de Privacidad Simplificado</a> | <a href="../../resource/documentos/AVISO PRIVACIDAD INTEGRAL 23.pdf" target="_blank">Aviso de Privacidad Integral</a>
        </div>
      </div>
    </div>
  </footer>