<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


<nav class="navbar navbar-expand-lg navbar-dark bg-utl">
  <a class="navbar-brand" href="/">
    <img src="https://www.utleon.edu.mx/resource/iconos/LOGO%20UTL%20HORIZONTAL%20BLANCO.png" alt="Logo de la Universidad Tecnológica de León" class="logo">
  </a>
  <div class="navbar-collapse justify-content-end">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/quienes-somos">Quiénes Somos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/oferta-educativa">Oferta Educativa</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="dropdownMenuLink" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
          Soy
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <a class="dropdown-item" href="#">Opción 1</a>
          <a class="dropdown-item" href="#">Opción 2</a>
          <a class="dropdown-item" href="#">Opción 3</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/trabaja-en-utl">Trabaja en UTL</a>
      </li>
    </ul>
  </div>
</nav>