<nav class="navbar navbar-expand-lg navbar-dark bg-utl">
    <a class="navbar-brand" href="/">
      <img src="https://www.utleon.edu.mx/resource/iconos/LOGO%20UTL%20HORIZONTAL%20BLANCO.png" alt="Logo de la Universidad Tecnológica de León" class="logo">
    </a>
    <div class="navbar-collapse justify-content-end">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/quienes-somos">SOY ADMINISTRATIVO</a>
        </li>
        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="/soy" id="dropdownMenuLink" data-toggle="dropdown">Recursos para la Gestión Administrativa</a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="#">Opción 1</a>
          </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="/soy" id="dropdownMenuLink" data-toggle="dropdown">Desarrollo Humano</a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" href="#">Opción 1</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="/soy" id="dropdownMenuLink" data-toggle="dropdown">Órganos Colegiados</a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" href="#">Opción 1</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/oferta-educativa">Normativa Estudiantil</a>
          </li>
      </ul>
    </div>
  </nav>

  <br>

  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="text">
          <h2 class="text-center mb-4">Salud Integral</h2>
          <p>En el área de Salud integral se te brinda los servicios médicos de urgencias, curativos y preventivos.</p>
          <h2>Responsables</h2>
          <p>Dr. Martín Gustavo Murillo Almaguer: Jefe De Departamento de Salud Integral
            <p>Enfermeras turno matutino: Valeria Abigail Ramírez Amaro (Campus Central) y Paola Guerrero Serna (Campus II)</p>
            <p>Enfermero/a turno vespertino: Mónica Regina Guerrero Gómez (Campus Central) y Arturo Medina Torres (Campus II)</p>
            <p>Psicólogo Laboral UTL: César Mariano González Barrera</p>
            <p>Horario: lunes a viernes de 7:00 a 21:00 hrs (Campus Central), 7:00 a 20:30 hrs (Campus II). Y sábado de 08:00 a 13:00 hrs.</p>
            <p>Ubicación: Edificio CVD Planta Baja</p>
            <p>Extensión: 325 (Campus Central) y 175 (Campus II)</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="image">
          <img src="https://www.utleon.edu.mx/resource/img/imagenes/2.3.1%20Becas.jpg" alt="Imagen de la rectora">
        </div>
      </div>
    </div>
  </div>

  <h2>Actividades</h2>
  <div class="news">
    <!-- Tarjeta 1 -->
    <div class="card">
      
      <img src="https://boletines.guanajuato.gob.mx/wp-content/uploads/2022/11/01-31-1024x684.jpg" alt="Imagen de la noticia 1" class="card-image">
      <div class="card-content">
        <h3>Examen Médico</h3>
        <p>Contenido de la noticia relacionada 1.</p>
        <a routerLink="/noticias">Ver más</a>
      </div>
    </div>
  
    <!-- Tarjeta 2 -->
    <div class="card">
      <img src="https://boletines.guanajuato.gob.mx/wp-content/uploads/2022/11/01-31-1024x684.jpg" alt="Imagen de la noticia 2" class="card-image">
      <div class="card-content">
        <h3>Atención Médica</h3>
        <p>Contenido de la noticia relacionada 2.</p>
        <a routerLink="/noticias">Ver más</a>
      </div>
    </div>
  
    <div class="card">
      <img src="https://boletines.guanajuato.gob.mx/wp-content/uploads/2022/11/01-31-1024x684.jpg" alt="Imagen de la noticia 2" class="card-image">
      <div class="card-content">
        <h3>Atención Médica Preventiva</h3>
        <p>Contenido de la noticia relacionada 2.</p>
        <a routerLink="/noticias">Ver más</a>
      </div>
    </div>
  
    <div class="card">
      <img src="https://boletines.guanajuato.gob.mx/wp-content/uploads/2022/11/01-31-1024x684.jpg" alt="Imagen de la noticia 2" class="card-image">
      <div class="card-content">
        <h3>Apoyo en Eventos Especiales</h3>
        <p>Contenido de la noticia relacionada 2.</p>
        <a routerLink="/noticias">Ver más</a>
      </div>
    </div>
  </div>
  <app-footer></app-footer>