<app-navbar></app-navbar>>
<div class="tsu-ti">
    <!-- Tarjeta 1 -->
    <div class="card">
            <img src="https://www.utleon.edu.mx/resource/img/imagenes/Soy_Aspirante/Oferta_Educativa_TSU/Entornos%20Virtuales%20y%20Negocios%20Digitales.JPG" alt="Imagen de la noticia 2" class="card-image">
            <div class="card-content">
              <h4>Área Entornos Virtuales y Negocios Digitales</h4>
              <p>TSU en TI</p>
              <a routerLink="/noticias">Ver más</a>
            </div>
          </div>
  
    <!-- Tarjeta 2 -->
    <div class="card">
      <img src="https://www.utleon.edu.mx/resource/img/imagenes/Soy_Aspirante/Oferta_Educativa_TSU/Entornos%20Virtuales%20y%20Negocios%20Digitales.JPG" alt="Imagen de la noticia 2" class="card-image">
      <div class="card-content">
        <h4>Área Desarrollo de Software Multiplataforma</h4>
        <p>TSU en TI</p>
        <a routerLink="/carreras_tsu_ti_dsm">Ver más</a>
      </div>
    </div>

    <div class="card">
        <img src="https://www.utleon.edu.mx/resource/img/imagenes/Soy_Aspirante/Oferta_Educativa_TSU/Entornos%20Virtuales%20y%20Negocios%20Digitales.JPG" alt="Imagen de la noticia 2" class="card-image">
        <div class="card-content">
          <h4>Área Infraestructura de Redes Digitales</h4>
          <p>TSU en TI</p>
          <a routerLink="/noticias">Ver más</a>
        </div>
      </div>
</div>

<div class="container">
    <h2 class="text-center mb-4">VENTAJAS DEL TÉCNICO/A SUPERIOR UNIVERSITARIO</h2>
    <p>Los/as Técnicos/as Superiores Universitarios/as (TSU) son profesionales altamente capacitados pues reciben sólida formación científico-tecnológica, con planes de estudio innovadores y de calidad, son ampliamente reconocidos y demandados por empresas del sector productivo y social. Los/as TSU se preparan para resolver problemas específicos del área de su competencia a nivel medio gerencial.</p>
</div>

<app-footer></app-footer>
